<div class="row">

  <!-- Admin Bar -->
  <aside class="large-3 columns text-left">
    <ul class="side-nav">
      <li><a class="button secondary large expand " href="/admin/recipes/new">Create a new recipe</a></li>
      <li><a href="/admin/categories/new" class="button expand large ">Create a new category</a></li>
    </ul>
  </aside>
  <!-- Content/Categories -->
  <div id="admin-categories-listing" class="large-9 columns text-center" role="content">
    <div class="row">

      <h1 class="section-header">Categories</h1>
    </div>
    <% @categories.each do |category| %>
    <a href="/admin/categories/<%= category.id %>"><h1><%= category.dish_type %></h1></a>
      <% category.recipes.each do |recipe| %>
      <h4>Recipes:</h4>
        <a class="th" href="/admin/recipes/<%= recipe.id %>">
          <img src="<%=recipe.pic_link %>">
        </a>
      <% end %>
    <% end %>
  </div>

</div>
