
<div class="row extra-margin">
  <div class="large-6 columns text-center">
    <a class="button large expand round" href="/admin/recipes/new">Create a new recipe</a>
  </div>

  <div class="large-6 columns text-center">
    <a href="/admin/categories/new" class="button expand large round">Create a new category</a>
  </div>
</div>



<% @categories.each do |category| %>
<a href="/admin/categories/<%= category.id %>"><h1><%= category.dish_type %></h1></a>
  <% category.recipes.each do |recipe| %>
    <a class="th" href="/admin/recipes/<%= recipe.id %>">
      <img src="<%=recipe.pic_link %>">
    </a>
  <% end %>
<% end %>
