<div class="row">
  <div class="large-12 text-center columns">
    <h3>Create Category</h3>
  </div>
</div>

<form action="/admin/recipes/" method="post">
  <div class="row">
    <div class="large-12 text-center columns">
      <label for="category">Category Name:</label>
      <input type="text" cols="10" name="category">

      <button type="submit">Submit</button>
    </div>
  </div>
</form>
