<div class="row">
  <div class="text-center large-12 columns">
    <h2 class="section-header">Categories</h2>
  </div>
</div>

<div class="row text-left">
  <ul id="categories-list">
    <% @categories.each do |category| %>
      <h2><li><a href="categories/<%= category.id %>"><%= category.dish_type %></li></h2>
    <% end %>
  </ul>
</div>
