<div class="row title-container">
  <div class="large-12 text-center columns ">
    <h2>Create Category</h2>
  </div>
</div>

<form action="/admin/recipes/" method="post">
  <div class="row">
    <div class="large-12 text-center columns">
      <input type="text" cols="10" name="category" required placeholder="Name of Category">

      <button class="round" type="submit">Submit</button>
    </div>
  </div>
</form>
