<!-- Slider -->
<ul class="slider-list" data-orbit>
  <li>
    <div id="slider-image1" class="slider-image"></div>
    <div class="orbit-caption text-center">The freshest ingredients</div>
  </li>
  <li class="active">
    <div id="slider-image2" class="slider-image"></div>
    <div class="orbit-caption text-center">The healthiest choices</div>
  </li>
  <li>
    <div id="slider-image3" class="slider-image"></div>
    <div class="orbit-caption text-center">Caption Three.</div>
  </li>
</ul>

<!-- Favorites -->
<div class="row">
  <div class="large-12 columns text-center">
    <h1 class="section-header">Our Favorites</h1>
  </div>

  <% if @recipes.any? %>
  <div class="grid">
    <% @recipes.each do |recipe| %>
      <div class="grid-item">
        <a href="/recipes/<%= recipe.id %>"><img src="<%= recipe.pic_link %>">
        <p class="text-center picture-caption"><%= recipe.dish_name %></p>
      </div>
    </div>
    <% end %>
  <% end %>

</div>
