<div class="row">
  <div class="large-12 columns text-center">
    <h1 id="site-header">Bite-Sized Recipes</h1>
  </div>
</div>
<!-- Slider -->
<ul class="slider-list" data-orbit>
  <li>
    <div id="slider-image1" class="slider-image"></div>
    <div class="orbit-caption text-center">The freshest ingredients</div>
  </li>
  <li class="active">
    <div id="slider-image2" class="slider-image"></div>
    <div class="orbit-caption text-center">The healthiest choices</div>
  </li>
  <li>
    <div id="slider-image3" class="slider-image"></div>
    <div class="orbit-caption text-center">The best inspiration</div>
  </li>
</ul>

<div id="favorites" class="container">
  <div class="large-12 columns text-center">
    <h1 class="section-header header">Our Favorites</h1>
  </div>
</div>

<div class="container">
  <% if @recipes.any? %>
    <% @recipes.each_with_index do |recipe, index| %>
      <div class="large-4 columns text-center outside-pic-container">
        <div class="pic-container">
          <a href="/recipes/<%= recipe.id %>"><img class="home-image" src="<%= recipe.pic_link %>">
            <p class="text-center picture-caption"><%= recipe.dish_name %>
              <% recipe.rating.times do %>
              <span class="rating"><i class="fi-star"></i></span>
              <% end %>
            </p>
          </a>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<hr>
