<!-- Slider -->
<ul class="slider-list" data-orbit>
  <li>
    <div id="slider-image1" class="slider-image"></div>
    <div class="orbit-caption text-center">The freshest ingredients</div>
  </li>
  <li class="active">
    <div id="slider-image2" class="slider-image"></div>
    <div class="orbit-caption text-center">The healthiest choices</div>
  </li>
  <li>
    <div id="slider-image3" class="slider-image"></div>
    <div class="orbit-caption text-center">The best inspiration</div>
  </li>
</ul>

<!-- Favorites -->
<div id="favorites" class="container">
  <div class="large-12 columns text-center">
    <h1 class="section-header">Our Favorites</h1>
  </div>

  <% if @recipes.any? %>
    <% @recipes.each do |recipe| %>
      <div class="large-12 columns text-center">
        <a href="/recipes/<%= recipe.id %>"><img src="<%= recipe.pic_link %>">
        <p class="text-center picture-caption"><%= recipe.dish_name %>
        <% recipe.rating.times do %>
          <span class="rating"><i class="fi-star"></i></span>
        <% end %></p>
      </div>
    <% end %>
  <% end %>


</div>

<div class="row">
  <div class="large-4 columns text-center">
    <h2 class="section-header">Our Highest Rated</h2>
  </div>

  <div class="large-4 columns text-center">
    <a href="/categories"><h2 class="section-header">Top Categories</h2></a>
  </div>

  <div class="large-4 columns text-center">
    <a href="/ingredients"><h2 class="section-header">Search by Ingredients</h2></a>
  </div>
</div>
