<div class="row">
  <div class="text-center large-12 columns">
    <h2 class="section-header">Ingredients</h2>
  </div>
</div>

<% if @ingredients.any? %>
  <% @ingredients.each do |ingredient| %>
    <a href="/ingredients/<%= ingredient.id %>"<li><%= ingredient.item %></li>
  <% end %>
<% end %>
