<html>
<head lang='en'>
  <title>Title</title>
  <link rel='stylesheet' type='text/css' href='http://cdn.foundation5.zurb.com/foundation.css'>
  <script src='//code.jquery.com/jquery-1.11.3.min.js'></script>
  <script src='http://cdn.foundation5.zurb.com/foundation.js'></script>
  <link rel='stylesheet' type='text/css' href="<%= url('/main.css') %>">
</head>
<body>
  <div id='site-wrapper' class='container'>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/"><font color="orange">RB</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Portals </a>
            <ul class="dropdown">
              <li><a href="/admin/recipes">Admin</a></li>
              <li class="active"><a href="/">Top</li></a>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
