<div class="row title-container">
  <div class="large-12 text-center columns ">
    <h2>Add Recipe</h2>
  </div>
</div>

<form action="/admin/recipes" method="post">
  <div class="row">
    <div class="large-6 columns">
      <input type="text" name="dish_name" placeholder="Dish Name" required class="error">
    </div>

    <div class="large-6 columns">
      <input type="text" name="pic_link" placeholder="A Link to My Cool Photo">
    </div>
  </div>
  <div class="row">
    <div class="large-12 text-center columns">
      <textarea type="text" name="instructions">Instructions</textarea>
    </div>
  </div>

  <div class="row">
    <div class="large-12 text-center columns">
      <input type="text" required name="ingredients" placeholder="Ingredients">
    </div>
  </div>

  <div class="row"
    <div class="large-12 text-center columns">
    <label for="category">Select categories</label>
      <% @categories.each_with_index do |category, index| %>
        <input type="checkbox" name="category-<%=index %>" value="<%= category.id %>"><label for="category-<%= index %>"><%= category.dish_type %></label><br>
      <% end %>
    </div>
  </div>

  <input type="hidden" name="rating" value="3">

  <div class="row">
    <div class="large-12 text-center columns">
      <label>Publish Upon Creation?</label>
      <input type="radio" name="published" value="t" id="published-true"><label for="published-true">Yes</label>
      <input type="radio" name="published" value="f" id="published-false"><label for="published-false">No</label><br>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns text-center">
      <button class="round " type="submit">Submit</button>
    </div>
  </div>
  </div>
</form>
