<div class="row">
  <div class="large-12 text-center columns">
    <h3>Add Recipe</h3>
  </div>
</div>

<form action="/admin/recipes" method="post">
  <div class="row">
    <div class="large-12 text-center columns">
      <label for="instructions">Instructions:</label>
      <input type="text" name="instructions">

      <label for="dish_name">Name of the Dish:</label>
      <input type="text" name="dish_name">

      <label for="pic_link">Add a link to a picture!</label>
      <input type="text" name="pic_link">

      <label for="ingredients">Pick Ingredients</label>
      <input type="text" required name="ingredients" placeholder="e.x., bananas, chocolate chips, etc.">

      <label for="category">Name of categories:</label>
      <input type="text" name="category">

      <input type="hidden" name="rating" value="3">

      <label>Publish Upon Creation?</label>
      <input type="radio" name="published" value="t" id="published-true"><label for="published-true">Yes</label>
      <input type="radio" name="published" value="f" id="published-false"><label for="published-false">No</label><br>

      <button type="submit">Submit</button>
    </div>
  </div>
</form>

<!-- <div class="row">
  <div class="large-12 text-center columns">
    <h3>Add Category</h3>

    <form id="add-category-form" action="/admin_portal" method="post">

      <label for="dish_type">Name of category</label>
      <input type="text" name="dish_type">

      <button type="submit">Submit</button>
    </form>
  </div>
</div> -->
