/* Slider */
.orbit-container {
  max-height: 18em;
  width: 100%;
}

#slider-image1 {
  width: 100%;
  height: 18em;
  background: url('/img/slider1.jpg') no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slider-image2 {
  width: 100%;
  height: 18em;
  background: url('/img/slider2.jpg') no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slider-image3 {
  width: 100%;
  height: 18em;
  background: url('/img/slider3.jpg') no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Typography */
h1, h2, h3, h4, p, li, label, input {
  letter-spacing: 1px;
}
.section-header {
  font-weight: 800;
}

/* Image Grid */
.grid-item { width: 200px; }

/* Images */
img {
  max-width: 15em;
  max-height: 15em;
}
