/* Slider */
.orbit-container {
  max-height: 18em;
  width: 100%;
}

#slider-image1 {
  width: 100%;
  height: 18em;
  background: url('/img/slider1.jpg') no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slider-image2 {
  width: 100%;
  height: 18em;
  background: url('/img/slider2.jpg') no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#slider-image3 {
  width: 100%;
  height: 18em;
  background: url('/img/slider3.jpg') no-repeat left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Typography */
h1, h2, h3, h4, p, li, label, input {
  letter-spacing: 1px;
}

.title-container {
  margin-top: 2.4em;
}

.section-header {
  font-weight: 800;
}

.published-tag {
  display: inline-block;
  background-color: yellow;
  color: darkred;
}

.unpublished-tag {
  display: inline-block;
  background-color: lightgreen;
  color: darkgreen;
}

.date {

}

/* Images */
img {
  max-width: 15em;
  max-height: 15em;
}

.extra-margin  {
    margin-top: 20em;
}

.button-group .button {
  border: 5em solid green;
}

.rating {
  color: gold;
}

::-webkit-input-placeholder {
  color:lightgray;
}
:-moz-placeholder {
  color: lightgray;
}
::-moz-placeholder {
  color: lightgray;

}
:-ms-input-placeholder {
  color: lightgray;
}

form {
}
